<h1>New relationship</h1>

<%= error_messages_for :relationship %>

<% form_for(@relationship) do |f| %>


    <input type="hidden" name="login" value="<%=@user.login%>"/>
    <label for="initiationMessage">Message included in the connection request send to <%= @user.login %>:</label>


    <div class="container">
        <div class="left-element">
            <%= f.text_area :initiationMessage,:rows=>10,:cols=>40%>

        </div>
        <div class="right-element">
            <%= show_simple_captcha %>
        </div>
    </div>
<div style="clear: both;"></div>

    <p>
        <%= f.submit "Send connection request",:class => "formbutton" %>
    </p>

<% end %>

<br/>
<%= link_to 'Back', relationships_path %>


