<p>

<h1><%= h @item.title %></h1>

</p>


<% if @jump %>

    <p>
        Job passed from <%= path_to_me @jump %>
    </p>
<% end %>

<b>Description:</b>
<p class="preElement"><%= word_wrap @item.description, 84 %></p>




<% if @item.state=='closed' %>
    <p>
        <b>Closed at</b> : <%= h @item.closed_at.to_formatted_s(:long) %>
    </p>


<% elsif @jump %>

    <% if @jump.app!=nil %>
        <%= link_to 'View your application', app_path(@jump.app), :action=>"show" %>
    <% elsif @jump.item.state=='open' %>
        <%= link_to 'Compose an application for this job', new_app_path(@jump) %>

    <% end %>

    | <%= link_to 'Compose a message to job initiator', new_reply_path(@jump.item, @jump.item.owner) %>
    | <%= link_to 'Relay this job to one of your connections', forward_item_path(@item) %>
    <% if @jump.app==nil %>
        <%= link_help_with_application %>
    <% else %>
        <!--<%= link_help %>-->
    <% end %>
<% elsif @item.owner == @user%>
    <%= link_to 'Relay this job to one of your connections', forward_item_path(@item) %>

<% end %>

<br/>

<% if @jump and @jump.comment!=nil %>
    <b>Comment from <%= @jump.from_user.name %></b>:<br/>
    <p class="preElement"><%= word_wrap @jump.comment, 84 %></p>

<% end %>

<% if @jump %>
    <%= link_to "Compose a message to #{@jump.from_user.name}", new_reply_path(@jump.item, @jump.from_user) %>
<% end %>

<br/>


<%= link_to 'Back', items_path %>
<% if @user == @item.owner %>
    | <%= link_to 'Edit', edit_item_path(@item) %>
    | <%= link_to 'Delete', destroy_item_path(@item), :confirm => 'Are you sure? If you relayed this job to any users they will not be able to see it any more.' %>
    <% if @item.state=='open' %>
        | <%= link_to 'Close', close_item_path(@item), :confirm => 'Are you sure? If you relayed this job to any users they will not be able to relay it or respond to it.' %>
    <% end %>
    <% if @item.state=='closed' %>
        | <%= link_to 'Re-open', open_item_path(@item) %>
    <% end %>

<% end %>
<% if @item.state=='open' %>

<% end %>




<% if @user == @item.owner and @ijumps.size>0 %>

    <br/>
    <hr/>
    <h2>Users that have applied</h2>

    <table>
        <% for jump in @ijumps %>
            <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
                <td><%= h jump.to_user.name %></td>
                <td><%= h jump.to_user.login %></td>
                <td><%= link_to 'show application', jump.app %></td>
            </tr>
        <% end %>
    </table>


<% end %>



<% if @user == @item.owner and @users_replied.size>0 %>

    <br/>
    <hr/>
    <h2>Users that have requested more information</h2>

    <table>
        <% for u in @users_replied %>
            <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
                <td><%= h u.name %></td>
                <td><%= link_to 'show log', new_reply_path(@item, u) %></td>
            </tr>
        <% end %>
    </table>

<% end %>
